body {
  background-color: #676c70;
  max-height: 100vh;
  background-attachment: fixed;
}

main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

article {
  line-height: 0;
}

.ba {
  font-family: Arial;
  font-size: 40px;
  color: #a4c4d7;
}

.designer,
.developer {
  font-family: Impact;
  font-size: 80px;
  color: #676c70;
  text-shadow: 0 0 0.2em black;
}

.buttons:hover {
  filter: brightness(150%);
}

.contact:hover {
  filter: invert(1);
}

#character {
  height: 81vh;
  width: auto;
  -webkit-animation: mover 1.5s infinite alternate;
  animation: mover 1.5s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

.networks {
  column-gap: 10px;
  display: flex;
  flex-direction: column;
}

.buttons-container {
  height: 17.5vh;
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 20px;
}

.buttons-container > button {
  height: 80px;
  width: 230px;
}

.aboutme {
  background-color: #76abc4;
  border: solid #a6e2ff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 30px;
  color: #a6e2ff;
}

.artworks {
  background-color: #e79341;
  border: solid #fce37e;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 30px;
  color: #fce37e;
}

.projects {
  background-color: #b65142;
  border: solid #f99577;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 30px;
  color: #f99577;
}
.contact {
  background-color: black;
  border: solid white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 30px;
  color: white;
}
.home:hover {
  filter: invert(1);
}

.aboutme-title {
  background-color: #76abc4;
  border: solid #a6e2ff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 50px;
  color: #a6e2ff;
  height: 200px;
  width: 350px;
}

.page-aboutme {
  display: flex;
  flex-direction: row;
}

.button-page-aboutme {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.bio-sheet {
  height: fit-content;
}
.bio-sheet > img {
  height: 927px;
}
a {
  text-decoration: none;
  color: white;
}

.page-projects {
  display: flex;
  flex-direction: row;
  height: 927px;
  column-gap: 170px;
}

.button-page-projects {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.projects-title {
  background-color: #b65142;
  border: solid #f97b54;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 50px;
  color: #f97b54;
  height: 200px;
  width: 350px;
}
.dev-projects {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 100px;
  font-family: Arial;
  color: #f97b54;
}
.page-artworks {
  display: flex;
  flex-direction: row;
  height: 927px;
  column-gap: 40px;
}

.button-page-artworks {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.artworks-title {
  background-color: #e79341;
  border: solid #fde781;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 50px;
  color: #fde781;
  height: 200px;
  width: 350px;
}

.artworks-gallery {
  display: flex;
  align-items: center;
}

.artworks-gallery > img {
  height: 700px;
}
.page-contact {
  display: flex;
  flex-direction: row;
  height: 98vh;
}

.button-page-contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.contact-title {
  background-color: #000000;
  border: solid #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 50px;
  color: #ffffff;
  height: 200px;
  width: 350px;
}

.mail-box {
  display: flex;
  justify-content: start;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.black-square {
  background-color: #000000;
  height: 700px;
  width: 800px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-mailbox {
  font-family: Arial;
  font-size: 50px;
  color: #000000;
  margin-left: 200px;
}

.blue-mailbox {
  margin-top: 250px;
}

input {
  width: 500px;
}

label {
  margin-top: 20px;
  color: #ffffff;
  font-size: 20px;
  font-family: Arial;
}
input,
textarea {
  border-radius: 10px;
}
input {
  height: 40px;
  margin-top: 10px;
}

.mail-button {
  background-color: #34a9e9;
  border: solid #a6e2ff;
  border-radius: 10px;
  font-size: 35px;
  color: #a6e2ff;
  padding: 5px;
  width: 180px;
  margin-top: 20px;
}
.mail-button:hover {
  filter: brightness(150%);
}

/*responsive*/
@media (max-width: 1500px) {
  #character {
    height: 400px;
  }
}

@media (max-width: 1220px) {
  main {
    flex-direction: column;
  }

  .buttons-container {
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
  }
  .buttons-container button {
    margin-bottom: 3%;
  }
}
